:root {
  --main-color: rgb(22, 160, 133);
}

body {
  transition: background-color 1s linear, color 1s linear;
  background-color: var(--main-color);
  color: var(--main-color);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}